.hero-panel{
    display: block;
}

h1{
    display: block;
    text-align: center;
}

.rooms{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}

.hero-panel{
    background-color: rgb(83, 145, 136); /*backup option for very small resolutions*/
    height: auto;
}

.rooms img{
    padding: 15px;
}

.rooms img:hover{
    cursor: pointer;
    position: relative;
    top: -10px;
}

.page-container{
    text-align: center;
}
.pages{
    padding: 0 20px;
    display: inline;
}
.pages span{
    margin: 0 5px;
}

button{
    margin: 10px;
    width: 50px;
    height: 50px;
}
button.active{
background-color: rgb(83, 145, 136);
color: white;
}

@media screen and (min-width: 768px) {
    
h1{
    padding-top: 150px;
}

.rooms{
margin-top: 15%
}
.rooms li{
    padding: 30px;
}
}
