*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

body{
    max-width: 1200px;
    margin: 0 auto;
}
.footer-wrapper{
    background-color:rgb(83, 145, 136);
}

/*Flexbox navbar*/
#nav-wrapper{
    position: relative;
}


nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    text-align: center;
}

nav > ul.first-menu{
    list-style-type: none;
    background-color: rgb(83, 145, 136);
    padding: 0;
}

nav > ul.secondary-menu{
    list-style-type: none;
    background-color: #fff;
    padding: 0;
}
nav > ul.secondary-menu li a{
    color: rgb(83, 145, 136);
}

nav > ul.first-menu li{
    flex: 1;
    border: 1px solid white;
}

#nav-wrapper nav a:hover{
    background-color: rgb(59, 105, 98);
    color: white;
}

#dropdown-1{
    position: absolute;
    display: none;
    left: 0;
    flex-direction: column;
    z-index: 2;
    width: 100%;
}

#menu-overlay-on{
    position:fixed;
    width:1200px;
    height: 100vh;
    background-color: rgba(0, 0, 0);
    opacity: 0.7;
    z-index: 1;
 }

 

.logo-wrapper{
    display: none;
}
.hero-panel{
    background: url(img/hotel-hero.jpg) no-repeat;
    height: 400px;
    background-position: center;
    opacity: 50%;
    position: center;
}

form{
    padding-top: 100px;
    text-align: center;
}

form input, select{
    border: 1px #555 solid ;
    border-radius: 5px;
    font-size: 1.2em;
    max-width: 70%;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
button{
    font-size: 1.2em;
    border-radius: 5px;
    margin: 10px 0;
}
form > input, select{
    cursor: pointer;
}

button:hover{
    background-color: red;
    background-color: rgb(83, 145, 136);
    color: white;
}

/*Gridbox .footer-wrapper*/
.footer-wrapper{
    background-color: rgb(83, 145, 136);
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    line-height: 2em;
}

.footer-wrapper ul {
    list-style: none;
    padding: 0;
}
.copyright{
    text-align: center;
    padding: 10px 0;
}
.footer-wrapper a{
    text-decoration: none;
    color: #eeffc6;
}
.footer-wrapper a:hover{
    text-decoration: underline;
}

.col-1, .col-2, .col-3{
    text-align: center;
}
.col-1{
    display: none;
}
footer{
    background-color: rgb(83, 145, 136);
    max-height: 100vh;
}
/*BIGGER SCREEN*/
@media screen and (min-width:768px) {

 nav ul{
    display: flex;
 }   
 nav > ul.first-menu li{
    border: none;
 }

 #dropdown-1{
    display: none;
    position: relative;
    left: 0;
}
.secondary-menu{
    position: absolute;
    width: 100%;
    flex-direction: column;
}

.logo-wrapper,.logo-wrapper img{
    display: block;
    margin: 15%;
    width: 70%;
}

.hero-panel{
    min-height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
        
}
 .footer-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
    overflow-y: auto;
    justify-items: center;
    line-height: 2em;
    padding-top: 20px;
}
.logo-wrapper, .form-wrapper{
    grid-row: 2;
    align-self: center;
    justify-self: center;
}
.form-wrapper > *{
    min-width: 100%;
    width: 400px;
    margin-right: 10%;
}

.footer-wrapper ul{
    padding:15px 0 0 0;
}
.footer-wrapper div{
    margin: 0 5%;
}
.col-1, .col-2, .col-3{
    text-align: unset;
}
.col-1{
    display: block;
}
.copyright{
    text-align: center;
}

}